<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>articles is:</h1>
    <hr>
    <% for( let art of articles ) { %>
        <h2 style="width: fit-content;background-color: chartreuse; color: #fff;"><%= art.title  %></h2>
        <div style="width: fit-content;background-color: rgb(246, 249, 249); color: #ed9b04;"><%= art.body  %></div>
        <hr>
        <% } %>
</body>
</html>